.heroContainer {
  height: 94vh;
  min-height: 860px;
  max-height: 926px;
  background-color: #2b2e4a;
  background-image: linear-gradient(0deg, #2b2e4a 1%, #06132f 99%);
}

.heroButton .heroButtonOverlay {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #51c4d3;
  opacity: 0.8;
  transform: scaleX(0);
  transform-origin: 100% 100%;
  transition: transform 0.4s cubic-bezier(0.53, 0.21, 0, 1);
  will-change: transform;
}

.heroButton:hover .heroButtonOverlay {
  transform-origin: 0 0;
  transform: scaleX(1);
}

.card {
  width: 450px;
  height: 800px;
  transition: transform 0.5s;
}

.desc {
  margin-right: 20px;
}

.desc:not(:last-child)::after {
  padding-left: 20px;
  content: "|";
}

.rulesSection {
  min-height: 400px;
  display: flex;
  justify-content: center;
  @apply rounded-3xl;
  @apply mb-10;
  @apply bg-theme-light;
  @apply container;
  @apply mx-auto;
}

.rulesSection.rulesSectionDark {
  @apply bg-theme-dark;
}
