.heroContainer {
  height: 94vh;
  min-height: 860px;
  max-height: 926px;
  background-color: #2b2e4a;
  background-image: linear-gradient(0deg, #2b2e4a 1%, #06132f 99%);
}


.cardWrapper {
  width: 450px;
  display: flex;
  align-items: center;
}

@media (max-width: 1800px) {
  .cardWrapper {
    width: 350px;
  }
}

.card {
  width: 100%;
  position: absolute;
  transition: transform 0.5s;
}

.desc {
  margin-right: 20px;
}

.desc:not(:last-child)::after {
  padding-left: 20px;
  content: "|";
}